
@{
    ViewData["Title"] = "Editar";
    TimeModel time = new TimeModel();
}
    <div class="col-12" style="margin-top: 15px;">
        <div style="display: flex; flex-direction: row;justify-content: space-between;">
            <div>
                <button data-toggle="modal" data-target="#modal2" class="btn btn-success">Adicionar Jogo</button>
                <button data-toggle="modal" data-target="#modal3" class="btn btn-success">Adicionar Time</button>
            </div>
            
            <button class="btn btn-success">Começar Campeonato</button>
        </div>
    </div>
    
    <div class="col-12" style="margin-top: 15px;">
        <div class="card">
            <div class="card-header">
                Campeonato
            </div>
            <div class="card-body">

                <div id="tabela-rodadas">

                </div>   
             </div>
        </div>
    </div>

<div class="modal fade" id="modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Jogo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p>Insira o nome de dois times para começar.</p>
                </div>
                <form id="novo-jogo">
                    <input type="hidden" id="id_campeonato" value="@ViewBag.id_campeonato" name="id_campeonato" />
                    <div class="form-group">

                        <select id="vs1" name="vs1" class="form-control">
                            @foreach (var item in (List<Time>)ViewBag.times)
                            {
                                <option value="@item.Id">@item.Nome</option>   
                            }
                        </select>
                    </div>
                    <div class="text-center">
                        <h5>VS.</h5>
                    </div>
                    <div class="form-group">

                        <select id="vs2" name="vs2" class="form-control">
                            @foreach (var item in (List<Time>)ViewBag.times)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        </select>
                    </div>
                    <div class="float-right">
                       
                        <button type="submit" class="btn btn-primary">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="novo-time">
                    <div class="form-group">
                        <label>Nome do Time</label>
                        <input type="text" id="nome-time" class="form-control" placeholder="Nome" required />
                    </div>
                    <div class="float-right">
                        
                        <button type="submit" class="btn btn-primary">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal4">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selecione o ganhador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ganhador" >
                    <div class="opcao">
                        Time 1
                    </div>
                    <div class="opcao">
                        Time 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>